{% extends "layout.html" %}
{% block content %}
<div class="container d-flex flex-column align-items-center">
    <h1 class="">About</h1>
    <br>
    <h4 class="">The aortic stenosis risk calculator  </h4>
    <br>

    <img src="{{url_for('static', filename='aorta_check.svg')}}" class="img-fluid" style="width:40%" alt="..."/>

    <br>
    <h4 class="">was created by the team  </h4>
    <div class="ps-5 d-flex justify-content-center">
        <span class="bg-danger">
            <img src="{{url_for('static', filename='logo_team2.svg')}}" class="img-fluid" style="width:40%" alt="..."/>
        </span>
    </div>
    <h4 class="">and it's members: </h4>
    <div >
    <div class="row aarow-cols-1 raow-cols-md-3 text-center p-5 justify-content-center">
            <div class="col-12 col-lg-4 mb-4 rounded-3 h-100">
                <img src="{{url_for('static', filename='david.jpg')}}" class="rounded-circle ratio ratio-1x1 mx-auto d-block shadow-lg" style="width:75%;  max-width: 300px"  alt="..."/>
                <h2 class="pt-2">David Žahour</h2>
                <h2><small class="text-muted fw-light">AI Expert</small></h2>
            </div>

            <div class="col-12 col-lg-4 mb-4 rounded-3 h-100">
                <img src="{{url_for('static', filename='viktor.jpg')}}" class="rounded-circle ratio ratio-1x1 mx-auto d-block shadow-lg" style="width:75%; max-width: 300px" alt="..."/>
                <h2 class="pt-2">Viktor Koropecký</h2>
                <h2><small class="text-muted fw-light">Data Engineer</small></h2>
            </div>
            <div class="col-12 col-lg-4 mb-4 rounded-3 h-100">
                <img src="{{url_for('static', filename='simon.jpg')}}" class="rounded-circle ratio ratio-1x1 mx-auto d-block shadow-lg" style="width:75%;  max-width: 300px" alt="..."/>
                <h2 class="pt-2">Šimon Pavlín</h2>
                <h2><small class="text-muted fw-light">Graphic Designer</small></h2>
            </div>
    </div>
    </div>
</div>
{% endblock %}