{% extends "layout.html" %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-12 col-xl-6 col-lg-8 ">

        <h1 class="text-center fw-bold">FAQs</h1>
        <ul class="list-unstyled mt-4 mb-4 px-3">
            <div class="pb-4">
                <h4 class="ps-0">What is project Aorta Check good for?</h4>
                <div class="ps-0 ps-md-3">
                    Lorem ipsum dolor sit amet alsdkfjalsdkjfalsdkfjalkj fjaldkff f asjdfl df adf adf ajlgkaj gajooag gja.
                </div>
            </div>

            <div class="pb-4">
                <h4 class="ps-0">What is the aortic stenosis?</h4>
                <div class="ps-0 ps-md-3">
                    Lorem ipsum dolor sit amet alsdkfjalsdkjfalsdkfjalkj fjaldkff f asjdfl df adf adf ajlgkaj gajooag gja.
                </div>
            </div>

            <div class="pb-4">
                <h4 class="ps-0">What is the aortic stenosis risk factor?</h4>

                <div class="ps-0 ps-md-3">
                    Lorem ipsum dolor sit amet alsdkfjalsdkjfalsdkfjalkj fjaldkff f asjdfl df adf adf ajlgkaj gajooag gja.
                </div>
            </div>
            <div class="pb-4">
                <h4 class="ps-0">How is a risk factor estimated?</h4>
                <div class="ps-0 ps-md-3">
                    Lorem ipsum dolor sit amet alsdkfjalsdkjfalsdkfjalkj fjaldkff f asjdfl df adf adf ajlgkaj gajooag gja.
                </div>
            </div>

            <div class="pb-4">
                <h4 class="ps-0">What should I do if my risk factor is high?</h4>
                <div class="ps-0 ps-md-3">
                    Lorem ipsum dolor sit amet alsdkfjalsdkjfalsdkfjalkj fjaldkff f asjdfl df adf adf ajlgkaj gajooag gja.
                </div>
            </div>
        </ul>
    </div>
</div>
{% endblock %}