{% extends "layout.html" %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-12 col-lg-6 col-md-8 ">

        <h1 class="text-center">FAQs</h1>
        <ul class="list-unstyled mt-3 mb-4">
            <h4 class="ps-3">How are the input data classified?</h4>
            <div class="ps-5">
            Lorem ipsum dolor sit amet alsdkfjalsdkjfalsdkfjalkj fjaldkff f asjdfl df adf adf ajlgkaj gajooag gja.
            </div>
            <br>
            <br>
            <h4 class="ps-3">How accurate are the classifiers?</h4>
        </ul>
    </div>
</div>
{% endblock %}